@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;

    color: #3d405b
}

body {
    margin: 0px;
    padding: 0px;
    background-color:#f4f1de;
}

main {
    padding:5px;
    margin:15px;
}

footer {
    padding: 24px;
    padding-bottom: 42px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: #e07a5f;
}

img {
    height:200px;
}

nav {
    background-color: #81b29a;
    border-bottom: solid 1px black;
    padding: 16px;
}

a {
    text-decoration: none;
    transition: background-color 0.5s;
}

a:hover {
    background-color: #81b29a;
}

a:visited {
    color:#3d405b;
}

.tacos {
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 10px;
    grid-template-columns: repeat(4,auto);
    column-gap: 0px;
}

table, th, tr {
    border:1px solid #3d405b;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color:#81b29a;
}

.button {
    background-color:#f2cc8f;
    border: 1px solid #3d405b;
    color:#f4f1de;
    padding: 10px 20px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
